consul {
    retry {
        enabled = true
        attempts = 5
        backoff = "250ms"
    }
}
syslog {
  enabled = true
  facility = "LOCAL5"
}
template {
  source = "/etc/consul-template.d/haproxy.cfg.ctmpl"
  destination = "/etc/haproxy/haproxy.cfg"
  command = "/usr/sbin/service haproxy restart"
  command_timeout = "60s"
  backup = true
  wait {
    min = "2s"
    max = "10s"
  }
}
